* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../images/jeep.jpg');
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-flow: wrap;

  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
}

.content {
  z-index: 999;
  text-align: center;
  padding: 20px 32px 20px;
  width: 26%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.heading {
  color: rgb(122, 122, 123);
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  text-align: center;
  padding-top: 40px;
  margin: 0px;
  text-decoration: underline;
}

.content1 {
  z-index: 999;
  text-align: center;
  width: 30%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -0.0625rem 0.25rem 1.75rem 0rem rgba(0, 0, 0, 0.75);
}

.content1 header {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.aboutwho {
  color: #FFF;
  font-family: 'PT Serif';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 3.75rem;
}

.message {
  color: #FFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.125rem;
  text-align: left;
  padding-left: 1.875rem;
  font-style: normal;
  line-height: normal;
}

.logo {
  width: 100%;
  margin-bottom: 1rem;
}

.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.field span {
  color: #222;
  width: 40px;
  line-height: 2.8125rem;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.space {
  margin-top: 1rem;
}

.material-icons-outlined {
  position: absolute;
  right: 0.8125rem;
  cursor: pointer;
}

.pass {
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.pass a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.pass:hover a {
  text-decoration: underline;
}

.field button[type="submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.field button[type="submit"]:hover {
  background: #2691d9;
}

.error {
  width: 100%;
  background: #f7eaea;
  color: #c90a00;
  padding: 5px;
  margin: 0.625rem auto;
}

/* For large screens */
@media screen and (min-width: 1200px) {
  .aboutwho {
    font-size: 2.8rem;
  }

  .message {
    font-size: 1.25rem;
  }
}

/* For medium screens */
@media screen and (max-width: 992px) {
  .content {
    width: 45%; /* Adjust as needed */
  }

  .content1 {
    width: 50%; /* Adjust as needed */
  }

  .aboutwho {
    font-size: 2.5rem;
  }

  .message {
    font-size: 1.1rem;
  }
}

/* For small screens (mobile) */
@media screen and (max-width: 768px) {
  .content {
    width: 80%; /* Adjust as needed */
  }

  .content1 {
    width: 80%; /* Adjust as needed */
  }

  .aboutwho {
    font-size: 2rem;
    padding-right: 0; /* Adjust as needed */
  }

  .message {
    font-size: 1rem;
    padding-left: 10px; /* Adjust as needed */
  }
}
